HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# ignore files
.idea
.tmp
dists
caches
daemon
native

# ignore key file
AuthKey_D5ZQTHUQ4K.p8

# ignore properties file
application-LAMBDA.properties
application-API-KEY.properties
application-ES.properties
application-OAUTH.properties
application-JWT.properties
application-TEST.properties

# deploy
.tar
application-API-KEY.tar
application-OAUTH.tar
application-JWT.tar

AuthKey_D5ZQTHUQ4K.p8
AuthKey_D5ZQTHUQ4K.tar


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.idea/workspace.xml
